Package: com.ngkhoi.26home
Name: 26Home
Depends: mobilesubstrate
Version: 1.1.5.3
Architecture: iphoneos-arm64
Description: iOS 26 Homescreen customization.
Maintainer: ngkhoi
Author: ngkhoi
Section: Tweaks
